=begin
#Santati

#Santati's HTTP API. Operations under `/api/v0/` take a team API key in `Authorization: Api-Key <key>`; a missing, invalid or under-scoped key is answered with `403`, never `401`. Errors on `/api/v0/` use one of three bodies: `ErrorDetail` (`{\"detail\": ...}`), `FieldErrors` (messages keyed by request field) or `ErrorEnvelope` (`{\"error\": {\"code\", \"message\", \"field\"}}`, returned by event ingestion and log stream quota checks). Lists on `/api/v0/` are cursor-paginated: follow `next` until it is `null`.

The version of the OpenAPI document: 0.2.1

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SantatiCore
  class AuditEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Send audit events
    # Index one event, or a batch, from the producer envelope. Requires a team API key with the ``write`` (or ``manage``) scope. Send either one envelope object or ``{\"events\": [...]}``; a batch answers 207 with per-item results and 202 when every item was accepted. A repeated ``Idempotency-Key`` (or envelope ``idempotency_key``) within 24 hours returns the event already stored instead of indexing a second one.
    # @param event_ingest_request [EventIngestRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (&#x60;200&#x60;) instead of indexing a second one. A longer key than 255 characters is a &#x60;400 invalid_envelope&#x60;. An event&#39;s own &#x60;idempotency_key&#x60; beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported &#x60;duplicate&#x60; with the first event&#39;s id and is not written.
    # @return [AuditEvent]
    def events_create(event_ingest_request, opts = {})
      data, _status_code, _headers = events_create_with_http_info(event_ingest_request, opts)
      data
    end

    # Send audit events
    # Index one event, or a batch, from the producer envelope. Requires a team API key with the &#x60;&#x60;write&#x60;&#x60; (or &#x60;&#x60;manage&#x60;&#x60;) scope. Send either one envelope object or &#x60;&#x60;{\&quot;events\&quot;: [...]}&#x60;&#x60;; a batch answers 207 with per-item results and 202 when every item was accepted. A repeated &#x60;&#x60;Idempotency-Key&#x60;&#x60; (or envelope &#x60;&#x60;idempotency_key&#x60;&#x60;) within 24 hours returns the event already stored instead of indexing a second one.
    # @param event_ingest_request [EventIngestRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (&#x60;200&#x60;) instead of indexing a second one. A longer key than 255 characters is a &#x60;400 invalid_envelope&#x60;. An event&#39;s own &#x60;idempotency_key&#x60; beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported &#x60;duplicate&#x60; with the first event&#39;s id and is not written.
    # @return [Array<(AuditEvent, Integer, Hash)>] AuditEvent data, response status code and response headers
    def events_create_with_http_info(event_ingest_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuditEventsApi.events_create ...'
      end
      # verify the required parameter 'event_ingest_request' is set
      if @api_client.config.client_side_validation && event_ingest_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_ingest_request' when calling AuditEventsApi.events_create"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling AuditEventsApi.events_create, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/api/v0/events/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_ingest_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuditEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuditEventsApi.events_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuditEventsApi#events_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List audit events
    # Audit events received on this tenant's audit log trails, newest first. The list is cursor-paginated: follow ``next`` until it is ``null``. ``sort=relevance`` requires ``q`` and pages at most the first 10000 matches.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :actor_id Exact context.actor.id.
    # @option opts [String] :actor_type One of: user, system, anonymous.
    # @option opts [String] :created_after RFC 3339 instant or date, inclusive, on the producer&#39;s timestamp.
    # @option opts [String] :created_before Same parsing, inclusive.
    # @option opts [String] :cursor Opaque cursor from the previous page.
    # @option opts [String] :event Exact event type, e.g. invoice.voided.
    # @option opts [String] :event_prefix Events whose type starts with this literal prefix.
    # @option opts [Integer] :limit Page size, up to 1000.
    # @option opts [String] :organization_id Producer&#39;s own organization id.
    # @option opts [String] :q Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.
    # @option opts [String] :sort occurred_at (default) or relevance; relevance requires q.
    # @option opts [String] :target_id Events acting on this target id.
    # @option opts [String] :target_type Events acting on a target of this type.
    # @option opts [String] :trail Only events from this audit log trail.
    # @return [PaginatedAuditEventList]
    def events_list(opts = {})
      data, _status_code, _headers = events_list_with_http_info(opts)
      data
    end

    # List audit events
    # Audit events received on this tenant&#39;s audit log trails, newest first. The list is cursor-paginated: follow &#x60;&#x60;next&#x60;&#x60; until it is &#x60;&#x60;null&#x60;&#x60;. &#x60;&#x60;sort&#x3D;relevance&#x60;&#x60; requires &#x60;&#x60;q&#x60;&#x60; and pages at most the first 10000 matches.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :actor_id Exact context.actor.id.
    # @option opts [String] :actor_type One of: user, system, anonymous.
    # @option opts [String] :created_after RFC 3339 instant or date, inclusive, on the producer&#39;s timestamp.
    # @option opts [String] :created_before Same parsing, inclusive.
    # @option opts [String] :cursor Opaque cursor from the previous page.
    # @option opts [String] :event Exact event type, e.g. invoice.voided.
    # @option opts [String] :event_prefix Events whose type starts with this literal prefix.
    # @option opts [Integer] :limit Page size, up to 1000.
    # @option opts [String] :organization_id Producer&#39;s own organization id.
    # @option opts [String] :q Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.
    # @option opts [String] :sort occurred_at (default) or relevance; relevance requires q.
    # @option opts [String] :target_id Events acting on this target id.
    # @option opts [String] :target_type Events acting on a target of this type.
    # @option opts [String] :trail Only events from this audit log trail.
    # @return [Array<(PaginatedAuditEventList, Integer, Hash)>] PaginatedAuditEventList data, response status code and response headers
    def events_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuditEventsApi.events_list ...'
      end
      allowable_values = ["occurred_at", "relevance"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v0/events/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'actor_id'] = opts[:'actor_id'] if !opts[:'actor_id'].nil?
      query_params[:'actor_type'] = opts[:'actor_type'] if !opts[:'actor_type'].nil?
      query_params[:'created_after'] = opts[:'created_after'] if !opts[:'created_after'].nil?
      query_params[:'created_before'] = opts[:'created_before'] if !opts[:'created_before'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'event'] = opts[:'event'] if !opts[:'event'].nil?
      query_params[:'event_prefix'] = opts[:'event_prefix'] if !opts[:'event_prefix'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'organization_id'] = opts[:'organization_id'] if !opts[:'organization_id'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'target_id'] = opts[:'target_id'] if !opts[:'target_id'].nil?
      query_params[:'target_type'] = opts[:'target_type'] if !opts[:'target_type'].nil?
      query_params[:'trail'] = opts[:'trail'] if !opts[:'trail'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedAuditEventList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuditEventsApi.events_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuditEventsApi#events_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
