=begin
#Santati

#Santati's HTTP API. Operations under `/api/v0/` take a team API key in `Authorization: Api-Key <key>`; a missing, invalid or under-scoped key is answered with `403`, never `401`. Errors on `/api/v0/` use one of three bodies: `ErrorDetail` (`{\"detail\": ...}`), `FieldErrors` (messages keyed by request field) or `ErrorEnvelope` (`{\"error\": {\"code\", \"message\", \"field\"}}`, returned by event ingestion and log stream quota checks). Lists on `/api/v0/` are cursor-paginated: follow `next` until it is `null`.

The version of the OpenAPI document: 0.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module SantatiCore
  class EventDefinitionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Define an action
    # Add an action to the catalog. Requires the ``manage`` scope on a key that is not limited to named trails. Defining the first action turns catalog enforcement on: events with any other action name are refused from then on. Add schemas with ``schema_versions_create``.
    # @param event_definition_write_request [EventDefinitionWriteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EventDefinition]
    def event_definitions_create(event_definition_write_request, opts = {})
      data, _status_code, _headers = event_definitions_create_with_http_info(event_definition_write_request, opts)
      data
    end

    # Define an action
    # Add an action to the catalog. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails. Defining the first action turns catalog enforcement on: events with any other action name are refused from then on. Add schemas with &#x60;&#x60;schema_versions_create&#x60;&#x60;.
    # @param event_definition_write_request [EventDefinitionWriteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventDefinition, Integer, Hash)>] EventDefinition data, response status code and response headers
    def event_definitions_create_with_http_info(event_definition_write_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.event_definitions_create ...'
      end
      # verify the required parameter 'event_definition_write_request' is set
      if @api_client.config.client_side_validation && event_definition_write_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_definition_write_request' when calling EventDefinitionsApi.event_definitions_create"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_definition_write_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EventDefinition'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.event_definitions_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#event_definitions_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an event definition
    # Delete an action and all of its schema versions, published ones included. Requires the ``manage`` scope on a key that is not limited to named trails. Deleting the team's last definition turns catalog enforcement off, so any action name is accepted again. Expects no request body and answers 204 with none.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def event_definitions_destroy(action, opts = {})
      event_definitions_destroy_with_http_info(action, opts)
      nil
    end

    # Delete an event definition
    # Delete an action and all of its schema versions, published ones included. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails. Deleting the team&#39;s last definition turns catalog enforcement off, so any action name is accepted again. Expects no request body and answers 204 with none.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def event_definitions_destroy_with_http_info(action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.event_definitions_destroy ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.event_definitions_destroy"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/'.sub('{action}', CGI.escape(action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.event_definitions_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#event_definitions_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List event definitions
    # The actions this team's catalog defines, alphabetically. Needs a team API key with any scope. A team with no definitions accepts any action name, so an empty page is not an error: it means enforcement is off. Cursor-paginated: follow ``next`` until it is ``null``.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Cursor from the previous page.
    # @option opts [Integer] :limit Number of results to return per page.
    # @return [PaginatedEventDefinitionList]
    def event_definitions_list(opts = {})
      data, _status_code, _headers = event_definitions_list_with_http_info(opts)
      data
    end

    # List event definitions
    # The actions this team&#39;s catalog defines, alphabetically. Needs a team API key with any scope. A team with no definitions accepts any action name, so an empty page is not an error: it means enforcement is off. Cursor-paginated: follow &#x60;&#x60;next&#x60;&#x60; until it is &#x60;&#x60;null&#x60;&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Cursor from the previous page.
    # @option opts [Integer] :limit Number of results to return per page.
    # @return [Array<(PaginatedEventDefinitionList, Integer, Hash)>] PaginatedEventDefinitionList data, response status code and response headers
    def event_definitions_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.event_definitions_list ...'
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEventDefinitionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.event_definitions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#event_definitions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an event definition
    # One action of this team's catalog. Needs a team API key with any scope.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param [Hash] opts the optional parameters
    # @return [EventDefinition]
    def event_definitions_retrieve(action, opts = {})
      data, _status_code, _headers = event_definitions_retrieve_with_http_info(action, opts)
      data
    end

    # Retrieve an event definition
    # One action of this team&#39;s catalog. Needs a team API key with any scope.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventDefinition, Integer, Hash)>] EventDefinition data, response status code and response headers
    def event_definitions_retrieve_with_http_info(action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.event_definitions_retrieve ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.event_definitions_retrieve"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/'.sub('{action}', CGI.escape(action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventDefinition'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.event_definitions_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#event_definitions_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update or rename an event definition
    # Change any of an action's fields; omitted fields keep their value. Sending a new ``action`` renames it, and its schema versions go with it. Events already stored keep the name they were written with. Requires the ``manage`` scope on a key that is not limited to named trails.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEventDefinitionWriteRequest] :patched_event_definition_write_request 
    # @return [EventDefinition]
    def event_definitions_update(action, opts = {})
      data, _status_code, _headers = event_definitions_update_with_http_info(action, opts)
      data
    end

    # Update or rename an event definition
    # Change any of an action&#39;s fields; omitted fields keep their value. Sending a new &#x60;&#x60;action&#x60;&#x60; renames it, and its schema versions go with it. Events already stored keep the name they were written with. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedEventDefinitionWriteRequest] :patched_event_definition_write_request 
    # @return [Array<(EventDefinition, Integer, Hash)>] EventDefinition data, response status code and response headers
    def event_definitions_update_with_http_info(action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.event_definitions_update ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.event_definitions_update"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/'.sub('{action}', CGI.escape(action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_event_definition_write_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EventDefinition'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.event_definitions_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#event_definitions_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check a document against recent events
    # Dry-run a document against the action's newest 50 stored events and report which it would reject; nothing is stored. Stored values are checked after redaction. Needs a team API key with any scope.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param event_schema_document_request [EventSchemaDocumentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SchemaCheck]
    def schema_versions_check(action, event_schema_document_request, opts = {})
      data, _status_code, _headers = schema_versions_check_with_http_info(action, event_schema_document_request, opts)
      data
    end

    # Check a document against recent events
    # Dry-run a document against the action&#39;s newest 50 stored events and report which it would reject; nothing is stored. Stored values are checked after redaction. Needs a team API key with any scope.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param event_schema_document_request [EventSchemaDocumentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SchemaCheck, Integer, Hash)>] SchemaCheck data, response status code and response headers
    def schema_versions_check_with_http_info(action, event_schema_document_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.schema_versions_check ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.schema_versions_check"
      end
      # verify the required parameter 'event_schema_document_request' is set
      if @api_client.config.client_side_validation && event_schema_document_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_schema_document_request' when calling EventDefinitionsApi.schema_versions_check"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/schema-versions/check/'.sub('{action}', CGI.escape(action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_schema_document_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SchemaCheck'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.schema_versions_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#schema_versions_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a draft schema version
    # Store a document as a new draft at the next version number; numbers are never reused. A draft validates nothing until it is published. To change a published version, create a draft from its document with your edit applied. Requires the ``manage`` scope on a key that is not limited to named trails.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param event_schema_document_request [EventSchemaDocumentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EventSchemaVersion]
    def schema_versions_create(action, event_schema_document_request, opts = {})
      data, _status_code, _headers = schema_versions_create_with_http_info(action, event_schema_document_request, opts)
      data
    end

    # Create a draft schema version
    # Store a document as a new draft at the next version number; numbers are never reused. A draft validates nothing until it is published. To change a published version, create a draft from its document with your edit applied. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param event_schema_document_request [EventSchemaDocumentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventSchemaVersion, Integer, Hash)>] EventSchemaVersion data, response status code and response headers
    def schema_versions_create_with_http_info(action, event_schema_document_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.schema_versions_create ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.schema_versions_create"
      end
      # verify the required parameter 'event_schema_document_request' is set
      if @api_client.config.client_side_validation && event_schema_document_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_schema_document_request' when calling EventDefinitionsApi.schema_versions_create"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/schema-versions/'.sub('{action}', CGI.escape(action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_schema_document_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EventSchemaVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.schema_versions_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#schema_versions_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deprecate a version
    # Start the migration window on a superseded version: producers pinned to it are accepted until its deadline, then refused. Only a published version can be deprecated, and not the one ingest selects when an event pins nothing: publish a newer one first. Deprecating a deprecated version changes nothing. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param [Hash] opts the optional parameters
    # @return [EventSchemaVersion]
    def schema_versions_deprecate(action, version, opts = {})
      data, _status_code, _headers = schema_versions_deprecate_with_http_info(action, version, opts)
      data
    end

    # Deprecate a version
    # Start the migration window on a superseded version: producers pinned to it are accepted until its deadline, then refused. Only a published version can be deprecated, and not the one ingest selects when an event pins nothing: publish a newer one first. Deprecating a deprecated version changes nothing. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails. Expects no request body.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventSchemaVersion, Integer, Hash)>] EventSchemaVersion data, response status code and response headers
    def schema_versions_deprecate_with_http_info(action, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.schema_versions_deprecate ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.schema_versions_deprecate"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventDefinitionsApi.schema_versions_deprecate"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/schema-versions/{version}/deprecate/'.sub('{action}', CGI.escape(action.to_s)).sub('{version}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventSchemaVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.schema_versions_deprecate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#schema_versions_deprecate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a draft
    # Delete a draft. Its version number is never reused. A published version cannot be deleted. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body and answers 204 with none.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def schema_versions_destroy(action, version, opts = {})
      schema_versions_destroy_with_http_info(action, version, opts)
      nil
    end

    # Delete a draft
    # Delete a draft. Its version number is never reused. A published version cannot be deleted. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails. Expects no request body and answers 204 with none.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def schema_versions_destroy_with_http_info(action, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.schema_versions_destroy ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.schema_versions_destroy"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventDefinitionsApi.schema_versions_destroy"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/schema-versions/{version}/'.sub('{action}', CGI.escape(action.to_s)).sub('{version}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.schema_versions_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#schema_versions_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List schema versions
    # Every version of one action's schema, newest first, drafts and deprecated versions included. Needs a team API key with any scope. Cursor-paginated: follow ``next`` until it is ``null``.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Cursor from the previous page.
    # @option opts [Integer] :limit Number of results to return per page.
    # @return [PaginatedEventSchemaVersionList]
    def schema_versions_list(action, opts = {})
      data, _status_code, _headers = schema_versions_list_with_http_info(action, opts)
      data
    end

    # List schema versions
    # Every version of one action&#39;s schema, newest first, drafts and deprecated versions included. Needs a team API key with any scope. Cursor-paginated: follow &#x60;&#x60;next&#x60;&#x60; until it is &#x60;&#x60;null&#x60;&#x60;.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Cursor from the previous page.
    # @option opts [Integer] :limit Number of results to return per page.
    # @return [Array<(PaginatedEventSchemaVersionList, Integer, Hash)>] PaginatedEventSchemaVersionList data, response status code and response headers
    def schema_versions_list_with_http_info(action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.schema_versions_list ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.schema_versions_list"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/schema-versions/'.sub('{action}', CGI.escape(action.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedEventSchemaVersionList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.schema_versions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#schema_versions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish a draft
    # Publish a draft: ingest validates against it from now on, and the version it supersedes starts its deprecation window. Publishing a published version changes nothing. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param [Hash] opts the optional parameters
    # @return [EventSchemaVersion]
    def schema_versions_publish(action, version, opts = {})
      data, _status_code, _headers = schema_versions_publish_with_http_info(action, version, opts)
      data
    end

    # Publish a draft
    # Publish a draft: ingest validates against it from now on, and the version it supersedes starts its deprecation window. Publishing a published version changes nothing. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails. Expects no request body.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventSchemaVersion, Integer, Hash)>] EventSchemaVersion data, response status code and response headers
    def schema_versions_publish_with_http_info(action, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.schema_versions_publish ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.schema_versions_publish"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventDefinitionsApi.schema_versions_publish"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/schema-versions/{version}/publish/'.sub('{action}', CGI.escape(action.to_s)).sub('{version}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventSchemaVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.schema_versions_publish",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#schema_versions_publish\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a schema version
    # One version of an action's schema, with its status and an `ETag`. Needs any team API key.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param [Hash] opts the optional parameters
    # @return [EventSchemaVersion]
    def schema_versions_retrieve(action, version, opts = {})
      data, _status_code, _headers = schema_versions_retrieve_with_http_info(action, version, opts)
      data
    end

    # Retrieve a schema version
    # One version of an action&#39;s schema, with its status and an &#x60;ETag&#x60;. Needs any team API key.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventSchemaVersion, Integer, Hash)>] EventSchemaVersion data, response status code and response headers
    def schema_versions_retrieve_with_http_info(action, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.schema_versions_retrieve ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.schema_versions_retrieve"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventDefinitionsApi.schema_versions_retrieve"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/schema-versions/{version}/'.sub('{action}', CGI.escape(action.to_s)).sub('{version}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventSchemaVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.schema_versions_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#schema_versions_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace a draft's document
    # Replace the whole document of a draft in place; the version number does not change. This is how fields are added, renamed and removed: read the draft, edit its `properties` and `required`, and send the document back. Send the `ETag` you read as `If-Match` so a concurrent edit is not overwritten. A published version cannot be changed. Requires the ``manage`` scope on a key that is not limited to named trails.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param event_schema_document_request [EventSchemaDocumentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The &#x60;ETag&#x60; from your last read of this draft. If the draft has changed since, the update answers &#x60;412&#x60; instead of overwriting it. Without the header the last write wins.
    # @return [EventSchemaVersion]
    def schema_versions_update(action, version, event_schema_document_request, opts = {})
      data, _status_code, _headers = schema_versions_update_with_http_info(action, version, event_schema_document_request, opts)
      data
    end

    # Replace a draft&#39;s document
    # Replace the whole document of a draft in place; the version number does not change. This is how fields are added, renamed and removed: read the draft, edit its &#x60;properties&#x60; and &#x60;required&#x60;, and send the document back. Send the &#x60;ETag&#x60; you read as &#x60;If-Match&#x60; so a concurrent edit is not overwritten. A published version cannot be changed. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails.
    # @param action [String] The action name, e.g. invoice.voided.
    # @param version [Integer] The schema version number, e.g. 2.
    # @param event_schema_document_request [EventSchemaDocumentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The &#x60;ETag&#x60; from your last read of this draft. If the draft has changed since, the update answers &#x60;412&#x60; instead of overwriting it. Without the header the last write wins.
    # @return [Array<(EventSchemaVersion, Integer, Hash)>] EventSchemaVersion data, response status code and response headers
    def schema_versions_update_with_http_info(action, version, event_schema_document_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.schema_versions_update ...'
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling EventDefinitionsApi.schema_versions_update"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventDefinitionsApi.schema_versions_update"
      end
      # verify the required parameter 'event_schema_document_request' is set
      if @api_client.config.client_side_validation && event_schema_document_request.nil?
        fail ArgumentError, "Missing the required parameter 'event_schema_document_request' when calling EventDefinitionsApi.schema_versions_update"
      end
      # resource path
      local_var_path = '/api/v0/event-definitions/{action}/schema-versions/{version}/'.sub('{action}', CGI.escape(action.to_s)).sub('{version}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_schema_document_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EventSchemaVersion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.schema_versions_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#schema_versions_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Install standard packs
    # Define every action of the chosen packs for the team, each with its recommended target types and a published v1 schema. An action the team already defines, active or retired, is skipped and left untouched, so installing twice is safe. Installed schemas are the team's own copies: editing one needs no special step. Requires the ``manage`` scope on a key that is not limited to named trails.
    # @param standard_pack_install_request [StandardPackInstallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StandardPackInstallResult]
    def standard_events_install(standard_pack_install_request, opts = {})
      data, _status_code, _headers = standard_events_install_with_http_info(standard_pack_install_request, opts)
      data
    end

    # Install standard packs
    # Define every action of the chosen packs for the team, each with its recommended target types and a published v1 schema. An action the team already defines, active or retired, is skipped and left untouched, so installing twice is safe. Installed schemas are the team&#39;s own copies: editing one needs no special step. Requires the &#x60;&#x60;manage&#x60;&#x60; scope on a key that is not limited to named trails.
    # @param standard_pack_install_request [StandardPackInstallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StandardPackInstallResult, Integer, Hash)>] StandardPackInstallResult data, response status code and response headers
    def standard_events_install_with_http_info(standard_pack_install_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.standard_events_install ...'
      end
      # verify the required parameter 'standard_pack_install_request' is set
      if @api_client.config.client_side_validation && standard_pack_install_request.nil?
        fail ArgumentError, "Missing the required parameter 'standard_pack_install_request' when calling EventDefinitionsApi.standard_events_install"
      end
      # resource path
      local_var_path = '/api/v0/standard-events/install/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(standard_pack_install_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StandardPackInstallResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.standard_events_install",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#standard_events_install\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the standard event catalog
    # Santati's recommended actions, grouped into packs. The catalog is the same for every team and any key scope reads it; install packs with `standard_events_install`. `schema` is the v1 document installed for each action: installing copies it into the team's catalog, and the copy is the team's own to edit like any custom schema. `ocsf` maps each action to an OCSF class and activity. Not paginated.
    # @param [Hash] opts the optional parameters
    # @return [StandardEventCatalog]
    def standard_events_list(opts = {})
      data, _status_code, _headers = standard_events_list_with_http_info(opts)
      data
    end

    # List the standard event catalog
    # Santati&#39;s recommended actions, grouped into packs. The catalog is the same for every team and any key scope reads it; install packs with &#x60;standard_events_install&#x60;. &#x60;schema&#x60; is the v1 document installed for each action: installing copies it into the team&#39;s catalog, and the copy is the team&#39;s own to edit like any custom schema. &#x60;ocsf&#x60; maps each action to an OCSF class and activity. Not paginated.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StandardEventCatalog, Integer, Hash)>] StandardEventCatalog data, response status code and response headers
    def standard_events_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDefinitionsApi.standard_events_list ...'
      end
      # resource path
      local_var_path = '/api/v0/standard-events/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StandardEventCatalog'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDefinitionsApi.standard_events_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDefinitionsApi#standard_events_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
