# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SantatiCore.Api.AuditEvents do
  @moduledoc """
  API calls for all endpoints tagged `AuditEvents`.
  """

  alias SantatiCore.Connection
  import SantatiCore.RequestBuilder

  @doc """
  Send audit events
  Index one event, or a batch, from the producer envelope. Requires a team API key with the ``write`` (or ``manage``) scope. Send either one envelope object or ``{\"events\": [...]}``; a batch answers 207 with per-item results and 202 when every item was accepted. A repeated ``Idempotency-Key`` (or envelope ``idempotency_key``) within 24 hours returns the event already stored instead of indexing a second one.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `event_ingest_request` (EventIngestRequest): 
  - `opts` (keyword): Optional parameters
    - `:"Idempotency-Key"` (String.t): Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (`200`) instead of indexing a second one. A longer key than 255 characters is a `400 invalid_envelope`. An event's own `idempotency_key` beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported `duplicate` with the first event's id and is not written.

  ### Returns

  - `{:ok, SantatiCore.Model.AuditEvent.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec events_create(Tesla.Env.client, SantatiCore.Model.EventIngestRequest.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventBatchResult.t} | {:ok, SantatiCore.Model.AuditEvent.t} | {:error, Tesla.Env.t}
  def events_create(connection, event_ingest_request, opts \\ []) do
    optional_params = %{
      :"Idempotency-Key" => :headers
    }

    request =
      %{}
      |> method(:post)
      |> url("/api/v0/events/")
      |> add_param(:body, :body, event_ingest_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, SantatiCore.Model.AuditEvent},
      {200, SantatiCore.Model.AuditEvent},
      {202, SantatiCore.Model.EventBatchResult},
      {207, SantatiCore.Model.EventBatchResult},
      {400, false},
      {403, false},
      {413, false},
      {429, false}
    ])
  end

  @doc """
  List audit events
  Audit events received on this tenant's audit log trails, newest first. The list is cursor-paginated: follow ``next`` until it is ``null``. ``sort=relevance`` requires ``q`` and pages at most the first 10000 matches.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:actor_id` (String.t): Exact context.actor.id.
    - `:actor_type` (String.t): One of: user, system, anonymous.
    - `:created_after` (String.t): RFC 3339 instant or date, inclusive, on the producer's timestamp.
    - `:created_before` (String.t): Same parsing, inclusive.
    - `:cursor` (String.t): Opaque cursor from the previous page.
    - `:event` (String.t): Exact event type, e.g. invoice.voided.
    - `:event_prefix` (String.t): Events whose type starts with this literal prefix.
    - `:limit` (integer()): Page size, up to 1000.
    - `:organization_id` (String.t): Producer's own organization id.
    - `:q` (String.t): Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.
    - `:sort` (String.t): occurred_at (default) or relevance; relevance requires q.
    - `:target_id` (String.t): Events acting on this target id.
    - `:target_type` (String.t): Events acting on a target of this type.
    - `:trail` (String.t): Only events from this audit log trail.

  ### Returns

  - `{:ok, SantatiCore.Model.PaginatedAuditEventList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec events_list(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.PaginatedAuditEventList.t} | {:error, Tesla.Env.t}
  def events_list(connection, opts \\ []) do
    optional_params = %{
      :actor_id => :query,
      :actor_type => :query,
      :created_after => :query,
      :created_before => :query,
      :cursor => :query,
      :event => :query,
      :event_prefix => :query,
      :limit => :query,
      :organization_id => :query,
      :q => :query,
      :sort => :query,
      :target_id => :query,
      :target_type => :query,
      :trail => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v0/events/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.PaginatedAuditEventList},
      {400, false},
      {403, false},
      {404, false}
    ])
  end
end
