# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SantatiCore.Api.EventDefinitions do
  @moduledoc """
  API calls for all endpoints tagged `EventDefinitions`.
  """

  alias SantatiCore.Connection
  import SantatiCore.RequestBuilder

  @doc """
  Define an action
  Add an action to the catalog. Requires the ``manage`` scope on a key that is not limited to named trails. Defining the first action turns catalog enforcement on: events with any other action name are refused from then on. Add schemas with ``schema_versions_create``.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `event_definition_write_request` (EventDefinitionWriteRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.EventDefinition.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec event_definitions_create(Tesla.Env.client, SantatiCore.Model.EventDefinitionWriteRequest.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventDefinition.t} | {:error, Tesla.Env.t}
  def event_definitions_create(connection, event_definition_write_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v0/event-definitions/")
      |> add_param(:body, :body, event_definition_write_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, SantatiCore.Model.EventDefinition},
      {400, false},
      {403, false}
    ])
  end

  @doc """
  Delete an event definition
  Delete an action and all of its schema versions, published ones included. Requires the ``manage`` scope on a key that is not limited to named trails. Deleting the team's last definition turns catalog enforcement off, so any action name is accepted again. Expects no request body and answers 204 with none.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec event_definitions_destroy(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def event_definitions_destroy(connection, action, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/v0/event-definitions/#{action}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  List event definitions
  The actions this team's catalog defines, alphabetically. Needs a team API key with any scope. A team with no definitions accepts any action name, so an empty page is not an error: it means enforcement is off. Cursor-paginated: follow ``next`` until it is ``null``.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:cursor` (String.t): Cursor from the previous page.
    - `:limit` (integer()): Number of results to return per page.

  ### Returns

  - `{:ok, SantatiCore.Model.PaginatedEventDefinitionList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec event_definitions_list(Tesla.Env.client, keyword()) :: {:ok, SantatiCore.Model.PaginatedEventDefinitionList.t} | {:ok, nil} | {:error, Tesla.Env.t}
  def event_definitions_list(connection, opts \\ []) do
    optional_params = %{
      :cursor => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v0/event-definitions/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.PaginatedEventDefinitionList},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  Retrieve an event definition
  One action of this team's catalog. Needs a team API key with any scope.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.EventDefinition.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec event_definitions_retrieve(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventDefinition.t} | {:error, Tesla.Env.t}
  def event_definitions_retrieve(connection, action, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v0/event-definitions/#{action}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.EventDefinition},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  Update or rename an event definition
  Change any of an action's fields; omitted fields keep their value. Sending a new ``action`` renames it, and its schema versions go with it. Events already stored keep the name they were written with. Requires the ``manage`` scope on a key that is not limited to named trails.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `opts` (keyword): Optional parameters
    - `:body` (PatchedEventDefinitionWriteRequest): 

  ### Returns

  - `{:ok, SantatiCore.Model.EventDefinition.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec event_definitions_update(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventDefinition.t} | {:error, Tesla.Env.t}
  def event_definitions_update(connection, action, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:patch)
      |> url("/api/v0/event-definitions/#{action}/")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.EventDefinition},
      {400, false},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  Check a document against recent events
  Dry-run a document against the action's newest 50 stored events and report which it would reject; nothing is stored. Stored values are checked after redaction. Needs a team API key with any scope.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `event_schema_document_request` (EventSchemaDocumentRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.SchemaCheck.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec schema_versions_check(Tesla.Env.client, String.t, SantatiCore.Model.EventSchemaDocumentRequest.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.SchemaCheck.t} | {:error, Tesla.Env.t}
  def schema_versions_check(connection, action, event_schema_document_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v0/event-definitions/#{action}/schema-versions/check/")
      |> add_param(:body, :body, event_schema_document_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.SchemaCheck},
      {400, false},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  Create a draft schema version
  Store a document as a new draft at the next version number; numbers are never reused. A draft validates nothing until it is published. To change a published version, create a draft from its document with your edit applied. Requires the ``manage`` scope on a key that is not limited to named trails.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `event_schema_document_request` (EventSchemaDocumentRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.EventSchemaVersion.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec schema_versions_create(Tesla.Env.client, String.t, SantatiCore.Model.EventSchemaDocumentRequest.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventSchemaVersion.t} | {:error, Tesla.Env.t}
  def schema_versions_create(connection, action, event_schema_document_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v0/event-definitions/#{action}/schema-versions/")
      |> add_param(:body, :body, event_schema_document_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, SantatiCore.Model.EventSchemaVersion},
      {400, false},
      {403, false},
      {404, false},
      {409, false}
    ])
  end

  @doc """
  Deprecate a version
  Start the migration window on a superseded version: producers pinned to it are accepted until its deadline, then refused. Only a published version can be deprecated, and not the one ingest selects when an event pins nothing: publish a newer one first. Deprecating a deprecated version changes nothing. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `version` (integer()): The schema version number, e.g. 2.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.EventSchemaVersion.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec schema_versions_deprecate(Tesla.Env.client, String.t, integer(), keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventSchemaVersion.t} | {:error, Tesla.Env.t}
  def schema_versions_deprecate(connection, action, version, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v0/event-definitions/#{action}/schema-versions/#{version}/deprecate/")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.EventSchemaVersion},
      {403, false},
      {404, false},
      {409, false}
    ])
  end

  @doc """
  Delete a draft
  Delete a draft. Its version number is never reused. A published version cannot be deleted. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body and answers 204 with none.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `version` (integer()): The schema version number, e.g. 2.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec schema_versions_destroy(Tesla.Env.client, String.t, integer(), keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def schema_versions_destroy(connection, action, version, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/v0/event-definitions/#{action}/schema-versions/#{version}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {204, false},
      {403, false},
      {404, false},
      {409, false}
    ])
  end

  @doc """
  List schema versions
  Every version of one action's schema, newest first, drafts and deprecated versions included. Needs a team API key with any scope. Cursor-paginated: follow ``next`` until it is ``null``.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `opts` (keyword): Optional parameters
    - `:cursor` (String.t): Cursor from the previous page.
    - `:limit` (integer()): Number of results to return per page.

  ### Returns

  - `{:ok, SantatiCore.Model.PaginatedEventSchemaVersionList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec schema_versions_list(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.PaginatedEventSchemaVersionList.t} | {:error, Tesla.Env.t}
  def schema_versions_list(connection, action, opts \\ []) do
    optional_params = %{
      :cursor => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v0/event-definitions/#{action}/schema-versions/")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.PaginatedEventSchemaVersionList},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  Publish a draft
  Publish a draft: ingest validates against it from now on, and the version it supersedes starts its deprecation window. Publishing a published version changes nothing. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `version` (integer()): The schema version number, e.g. 2.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.EventSchemaVersion.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec schema_versions_publish(Tesla.Env.client, String.t, integer(), keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventSchemaVersion.t} | {:error, Tesla.Env.t}
  def schema_versions_publish(connection, action, version, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v0/event-definitions/#{action}/schema-versions/#{version}/publish/")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.EventSchemaVersion},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  Retrieve a schema version
  One version of an action's schema, with its status and an `ETag`. Needs any team API key.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `version` (integer()): The schema version number, e.g. 2.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.EventSchemaVersion.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec schema_versions_retrieve(Tesla.Env.client, String.t, integer(), keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventSchemaVersion.t} | {:error, Tesla.Env.t}
  def schema_versions_retrieve(connection, action, version, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v0/event-definitions/#{action}/schema-versions/#{version}/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.EventSchemaVersion},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  Replace a draft's document
  Replace the whole document of a draft in place; the version number does not change. This is how fields are added, renamed and removed: read the draft, edit its `properties` and `required`, and send the document back. Send the `ETag` you read as `If-Match` so a concurrent edit is not overwritten. A published version cannot be changed. Requires the ``manage`` scope on a key that is not limited to named trails.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `action` (String.t): The action name, e.g. invoice.voided.
  - `version` (integer()): The schema version number, e.g. 2.
  - `event_schema_document_request` (EventSchemaDocumentRequest): 
  - `opts` (keyword): Optional parameters
    - `:"If-Match"` (String.t): The `ETag` from your last read of this draft. If the draft has changed since, the update answers `412` instead of overwriting it. Without the header the last write wins.

  ### Returns

  - `{:ok, SantatiCore.Model.EventSchemaVersion.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec schema_versions_update(Tesla.Env.client, String.t, integer(), SantatiCore.Model.EventSchemaDocumentRequest.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.EventSchemaVersion.t} | {:error, Tesla.Env.t}
  def schema_versions_update(connection, action, version, event_schema_document_request, opts \\ []) do
    optional_params = %{
      :"If-Match" => :headers
    }

    request =
      %{}
      |> method(:put)
      |> url("/api/v0/event-definitions/#{action}/schema-versions/#{version}/")
      |> add_param(:body, :body, event_schema_document_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.EventSchemaVersion},
      {400, false},
      {403, false},
      {404, false},
      {409, false},
      {412, false}
    ])
  end

  @doc """
  Install standard packs
  Define every action of the chosen packs for the team, each with its recommended target types and a published v1 schema. An action the team already defines, active or retired, is skipped and left untouched, so installing twice is safe. Installed schemas are the team's own copies: editing one needs no special step. Requires the ``manage`` scope on a key that is not limited to named trails.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `standard_pack_install_request` (StandardPackInstallRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.StandardPackInstallResult.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec standard_events_install(Tesla.Env.client, SantatiCore.Model.StandardPackInstallRequest.t, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.StandardPackInstallResult.t} | {:error, Tesla.Env.t}
  def standard_events_install(connection, standard_pack_install_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v0/standard-events/install/")
      |> add_param(:body, :body, standard_pack_install_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.StandardPackInstallResult},
      {400, false},
      {403, false},
      {409, false}
    ])
  end

  @doc """
  List the standard event catalog
  Santati's recommended actions, grouped into packs. The catalog is the same for every team and any key scope reads it; install packs with `standard_events_install`. `schema` is the v1 document installed for each action: installing copies it into the team's catalog, and the copy is the team's own to edit like any custom schema. `ocsf` maps each action to an OCSF class and activity. Not paginated.

  ### Parameters

  - `connection` (SantatiCore.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SantatiCore.Model.StandardEventCatalog.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec standard_events_list(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, SantatiCore.Model.StandardEventCatalog.t} | {:error, Tesla.Env.t}
  def standard_events_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v0/standard-events/")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SantatiCore.Model.StandardEventCatalog},
      {403, false}
    ])
  end
end
