"""
    Santati

    Santati's HTTP API. Operations under `/api/v0/` take a team API key in `Authorization: Api-Key <key>`; a missing, invalid or under-scoped key is answered with `403`, never `401`. Errors on `/api/v0/` use one of three bodies: `ErrorDetail` (`{\"detail\": ...}`), `FieldErrors` (messages keyed by request field) or `ErrorEnvelope` (`{\"error\": {\"code\", \"message\", \"field\"}}`, returned by event ingestion and log stream quota checks). Lists on `/api/v0/` are cursor-paginated: follow `next` until it is `null`.

    The version of the OpenAPI document: 0.2.1
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from pydantic import Field, StrictInt, StrictStr, field_validator
from typing import Optional
from typing_extensions import Annotated
from santati_core.models.audit_event import AuditEvent
from santati_core.models.event_ingest_request import EventIngestRequest
from santati_core.models.paginated_audit_event_list import PaginatedAuditEventList

from santati_core.api_client import ApiClient, RequestSerialized
from santati_core.api_response import ApiResponse
from santati_core.rest import RESTResponseType


class AuditEventsApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def events_create(
        self,
        event_ingest_request: EventIngestRequest,
        idempotency_key: Annotated[Optional[StrictStr], Field(description="Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (`200`) instead of indexing a second one. A longer key than 255 characters is a `400 invalid_envelope`. An event's own `idempotency_key` beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported `duplicate` with the first event's id and is not written.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> AuditEvent:
        """Send audit events

        Index one event, or a batch, from the producer envelope. Requires a team API key with the ``write`` (or ``manage``) scope. Send either one envelope object or ``{\"events\": [...]}``; a batch answers 207 with per-item results and 202 when every item was accepted. A repeated ``Idempotency-Key`` (or envelope ``idempotency_key``) within 24 hours returns the event already stored instead of indexing a second one.

        :param event_ingest_request: (required)
        :type event_ingest_request: EventIngestRequest
        :param idempotency_key: Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (`200`) instead of indexing a second one. A longer key than 255 characters is a `400 invalid_envelope`. An event's own `idempotency_key` beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported `duplicate` with the first event's id and is not written.
        :type idempotency_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._events_create_serialize(
            event_ingest_request=event_ingest_request,
            idempotency_key=idempotency_key,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '201': "AuditEvent",
            '200': "AuditEvent",
            '202': "EventBatchResult",
            '207': "EventBatchResult",
            '400': None,
            '403': None,
            '413': None,
            '429': None,
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def events_create_with_http_info(
        self,
        event_ingest_request: EventIngestRequest,
        idempotency_key: Annotated[Optional[StrictStr], Field(description="Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (`200`) instead of indexing a second one. A longer key than 255 characters is a `400 invalid_envelope`. An event's own `idempotency_key` beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported `duplicate` with the first event's id and is not written.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[AuditEvent]:
        """Send audit events

        Index one event, or a batch, from the producer envelope. Requires a team API key with the ``write`` (or ``manage``) scope. Send either one envelope object or ``{\"events\": [...]}``; a batch answers 207 with per-item results and 202 when every item was accepted. A repeated ``Idempotency-Key`` (or envelope ``idempotency_key``) within 24 hours returns the event already stored instead of indexing a second one.

        :param event_ingest_request: (required)
        :type event_ingest_request: EventIngestRequest
        :param idempotency_key: Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (`200`) instead of indexing a second one. A longer key than 255 characters is a `400 invalid_envelope`. An event's own `idempotency_key` beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported `duplicate` with the first event's id and is not written.
        :type idempotency_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._events_create_serialize(
            event_ingest_request=event_ingest_request,
            idempotency_key=idempotency_key,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '201': "AuditEvent",
            '200': "AuditEvent",
            '202': "EventBatchResult",
            '207': "EventBatchResult",
            '400': None,
            '403': None,
            '413': None,
            '429': None,
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def events_create_without_preload_content(
        self,
        event_ingest_request: EventIngestRequest,
        idempotency_key: Annotated[Optional[StrictStr], Field(description="Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (`200`) instead of indexing a second one. A longer key than 255 characters is a `400 invalid_envelope`. An event's own `idempotency_key` beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported `duplicate` with the first event's id and is not written.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Send audit events

        Index one event, or a batch, from the producer envelope. Requires a team API key with the ``write`` (or ``manage``) scope. Send either one envelope object or ``{\"events\": [...]}``; a batch answers 207 with per-item results and 202 when every item was accepted. A repeated ``Idempotency-Key`` (or envelope ``idempotency_key``) within 24 hours returns the event already stored instead of indexing a second one.

        :param event_ingest_request: (required)
        :type event_ingest_request: EventIngestRequest
        :param idempotency_key: Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (`200`) instead of indexing a second one. A longer key than 255 characters is a `400 invalid_envelope`. An event's own `idempotency_key` beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported `duplicate` with the first event's id and is not written.
        :type idempotency_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._events_create_serialize(
            event_ingest_request=event_ingest_request,
            idempotency_key=idempotency_key,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '201': "AuditEvent",
            '200': "AuditEvent",
            '202': "EventBatchResult",
            '207': "EventBatchResult",
            '400': None,
            '403': None,
            '413': None,
            '429': None,
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _events_create_serialize(
        self,
        event_ingest_request,
        idempotency_key,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        # process the header parameters
        if idempotency_key is not None:
            _header_params['Idempotency-Key'] = idempotency_key
        # process the form parameters
        # process the body parameter
        if event_ingest_request is not None:
            _body_params = event_ingest_request


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )

        # set the HTTP header `Content-Type`
        if _content_type:
            _header_params['Content-Type'] = _content_type
        else:
            _default_content_type = (
                self.api_client.select_header_content_type(
                    [
                        'application/json'
                    ]
                )
            )
            if _default_content_type is not None:
                _header_params['Content-Type'] = _default_content_type

        # authentication setting
        _auth_settings: List[str] = [
            'ApiKeyAuth'
        ]

        return self.api_client.param_serialize(
            method='POST',
            resource_path='/api/v0/events/',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )




    @validate_call
    def events_list(
        self,
        actor_id: Annotated[Optional[StrictStr], Field(description="Exact context.actor.id.")] = None,
        actor_type: Annotated[Optional[StrictStr], Field(description="One of: user, system, anonymous.")] = None,
        created_after: Annotated[Optional[StrictStr], Field(description="RFC 3339 instant or date, inclusive, on the producer's timestamp.")] = None,
        created_before: Annotated[Optional[StrictStr], Field(description="Same parsing, inclusive.")] = None,
        cursor: Annotated[Optional[StrictStr], Field(description="Opaque cursor from the previous page.")] = None,
        event: Annotated[Optional[StrictStr], Field(description="Exact event type, e.g. invoice.voided.")] = None,
        event_prefix: Annotated[Optional[StrictStr], Field(description="Events whose type starts with this literal prefix.")] = None,
        limit: Annotated[Optional[StrictInt], Field(description="Page size, up to 1000.")] = None,
        organization_id: Annotated[Optional[StrictStr], Field(description="Producer's own organization id.")] = None,
        q: Annotated[Optional[StrictStr], Field(description="Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.")] = None,
        sort: Annotated[Optional[StrictStr], Field(description="occurred_at (default) or relevance; relevance requires q.")] = None,
        target_id: Annotated[Optional[StrictStr], Field(description="Events acting on this target id.")] = None,
        target_type: Annotated[Optional[StrictStr], Field(description="Events acting on a target of this type.")] = None,
        trail: Annotated[Optional[StrictStr], Field(description="Only events from this audit log trail.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> PaginatedAuditEventList:
        """List audit events

        Audit events received on this tenant's audit log trails, newest first. The list is cursor-paginated: follow ``next`` until it is ``null``. ``sort=relevance`` requires ``q`` and pages at most the first 10000 matches.

        :param actor_id: Exact context.actor.id.
        :type actor_id: str
        :param actor_type: One of: user, system, anonymous.
        :type actor_type: str
        :param created_after: RFC 3339 instant or date, inclusive, on the producer's timestamp.
        :type created_after: str
        :param created_before: Same parsing, inclusive.
        :type created_before: str
        :param cursor: Opaque cursor from the previous page.
        :type cursor: str
        :param event: Exact event type, e.g. invoice.voided.
        :type event: str
        :param event_prefix: Events whose type starts with this literal prefix.
        :type event_prefix: str
        :param limit: Page size, up to 1000.
        :type limit: int
        :param organization_id: Producer's own organization id.
        :type organization_id: str
        :param q: Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.
        :type q: str
        :param sort: occurred_at (default) or relevance; relevance requires q.
        :type sort: str
        :param target_id: Events acting on this target id.
        :type target_id: str
        :param target_type: Events acting on a target of this type.
        :type target_type: str
        :param trail: Only events from this audit log trail.
        :type trail: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._events_list_serialize(
            actor_id=actor_id,
            actor_type=actor_type,
            created_after=created_after,
            created_before=created_before,
            cursor=cursor,
            event=event,
            event_prefix=event_prefix,
            limit=limit,
            organization_id=organization_id,
            q=q,
            sort=sort,
            target_id=target_id,
            target_type=target_type,
            trail=trail,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "PaginatedAuditEventList",
            '400': None,
            '403': None,
            '404': None,
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def events_list_with_http_info(
        self,
        actor_id: Annotated[Optional[StrictStr], Field(description="Exact context.actor.id.")] = None,
        actor_type: Annotated[Optional[StrictStr], Field(description="One of: user, system, anonymous.")] = None,
        created_after: Annotated[Optional[StrictStr], Field(description="RFC 3339 instant or date, inclusive, on the producer's timestamp.")] = None,
        created_before: Annotated[Optional[StrictStr], Field(description="Same parsing, inclusive.")] = None,
        cursor: Annotated[Optional[StrictStr], Field(description="Opaque cursor from the previous page.")] = None,
        event: Annotated[Optional[StrictStr], Field(description="Exact event type, e.g. invoice.voided.")] = None,
        event_prefix: Annotated[Optional[StrictStr], Field(description="Events whose type starts with this literal prefix.")] = None,
        limit: Annotated[Optional[StrictInt], Field(description="Page size, up to 1000.")] = None,
        organization_id: Annotated[Optional[StrictStr], Field(description="Producer's own organization id.")] = None,
        q: Annotated[Optional[StrictStr], Field(description="Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.")] = None,
        sort: Annotated[Optional[StrictStr], Field(description="occurred_at (default) or relevance; relevance requires q.")] = None,
        target_id: Annotated[Optional[StrictStr], Field(description="Events acting on this target id.")] = None,
        target_type: Annotated[Optional[StrictStr], Field(description="Events acting on a target of this type.")] = None,
        trail: Annotated[Optional[StrictStr], Field(description="Only events from this audit log trail.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[PaginatedAuditEventList]:
        """List audit events

        Audit events received on this tenant's audit log trails, newest first. The list is cursor-paginated: follow ``next`` until it is ``null``. ``sort=relevance`` requires ``q`` and pages at most the first 10000 matches.

        :param actor_id: Exact context.actor.id.
        :type actor_id: str
        :param actor_type: One of: user, system, anonymous.
        :type actor_type: str
        :param created_after: RFC 3339 instant or date, inclusive, on the producer's timestamp.
        :type created_after: str
        :param created_before: Same parsing, inclusive.
        :type created_before: str
        :param cursor: Opaque cursor from the previous page.
        :type cursor: str
        :param event: Exact event type, e.g. invoice.voided.
        :type event: str
        :param event_prefix: Events whose type starts with this literal prefix.
        :type event_prefix: str
        :param limit: Page size, up to 1000.
        :type limit: int
        :param organization_id: Producer's own organization id.
        :type organization_id: str
        :param q: Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.
        :type q: str
        :param sort: occurred_at (default) or relevance; relevance requires q.
        :type sort: str
        :param target_id: Events acting on this target id.
        :type target_id: str
        :param target_type: Events acting on a target of this type.
        :type target_type: str
        :param trail: Only events from this audit log trail.
        :type trail: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._events_list_serialize(
            actor_id=actor_id,
            actor_type=actor_type,
            created_after=created_after,
            created_before=created_before,
            cursor=cursor,
            event=event,
            event_prefix=event_prefix,
            limit=limit,
            organization_id=organization_id,
            q=q,
            sort=sort,
            target_id=target_id,
            target_type=target_type,
            trail=trail,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "PaginatedAuditEventList",
            '400': None,
            '403': None,
            '404': None,
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def events_list_without_preload_content(
        self,
        actor_id: Annotated[Optional[StrictStr], Field(description="Exact context.actor.id.")] = None,
        actor_type: Annotated[Optional[StrictStr], Field(description="One of: user, system, anonymous.")] = None,
        created_after: Annotated[Optional[StrictStr], Field(description="RFC 3339 instant or date, inclusive, on the producer's timestamp.")] = None,
        created_before: Annotated[Optional[StrictStr], Field(description="Same parsing, inclusive.")] = None,
        cursor: Annotated[Optional[StrictStr], Field(description="Opaque cursor from the previous page.")] = None,
        event: Annotated[Optional[StrictStr], Field(description="Exact event type, e.g. invoice.voided.")] = None,
        event_prefix: Annotated[Optional[StrictStr], Field(description="Events whose type starts with this literal prefix.")] = None,
        limit: Annotated[Optional[StrictInt], Field(description="Page size, up to 1000.")] = None,
        organization_id: Annotated[Optional[StrictStr], Field(description="Producer's own organization id.")] = None,
        q: Annotated[Optional[StrictStr], Field(description="Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.")] = None,
        sort: Annotated[Optional[StrictStr], Field(description="occurred_at (default) or relevance; relevance requires q.")] = None,
        target_id: Annotated[Optional[StrictStr], Field(description="Events acting on this target id.")] = None,
        target_type: Annotated[Optional[StrictStr], Field(description="Events acting on a target of this type.")] = None,
        trail: Annotated[Optional[StrictStr], Field(description="Only events from this audit log trail.")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """List audit events

        Audit events received on this tenant's audit log trails, newest first. The list is cursor-paginated: follow ``next`` until it is ``null``. ``sort=relevance`` requires ``q`` and pages at most the first 10000 matches.

        :param actor_id: Exact context.actor.id.
        :type actor_id: str
        :param actor_type: One of: user, system, anonymous.
        :type actor_type: str
        :param created_after: RFC 3339 instant or date, inclusive, on the producer's timestamp.
        :type created_after: str
        :param created_before: Same parsing, inclusive.
        :type created_before: str
        :param cursor: Opaque cursor from the previous page.
        :type cursor: str
        :param event: Exact event type, e.g. invoice.voided.
        :type event: str
        :param event_prefix: Events whose type starts with this literal prefix.
        :type event_prefix: str
        :param limit: Page size, up to 1000.
        :type limit: int
        :param organization_id: Producer's own organization id.
        :type organization_id: str
        :param q: Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.
        :type q: str
        :param sort: occurred_at (default) or relevance; relevance requires q.
        :type sort: str
        :param target_id: Events acting on this target id.
        :type target_id: str
        :param target_type: Events acting on a target of this type.
        :type target_type: str
        :param trail: Only events from this audit log trail.
        :type trail: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._events_list_serialize(
            actor_id=actor_id,
            actor_type=actor_type,
            created_after=created_after,
            created_before=created_before,
            cursor=cursor,
            event=event,
            event_prefix=event_prefix,
            limit=limit,
            organization_id=organization_id,
            q=q,
            sort=sort,
            target_id=target_id,
            target_type=target_type,
            trail=trail,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "PaginatedAuditEventList",
            '400': None,
            '403': None,
            '404': None,
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _events_list_serialize(
        self,
        actor_id,
        actor_type,
        created_after,
        created_before,
        cursor,
        event,
        event_prefix,
        limit,
        organization_id,
        q,
        sort,
        target_id,
        target_type,
        trail,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if actor_id is not None:
            
            _query_params.append(('actor_id', actor_id))
            
        if actor_type is not None:
            
            _query_params.append(('actor_type', actor_type))
            
        if created_after is not None:
            
            _query_params.append(('created_after', created_after))
            
        if created_before is not None:
            
            _query_params.append(('created_before', created_before))
            
        if cursor is not None:
            
            _query_params.append(('cursor', cursor))
            
        if event is not None:
            
            _query_params.append(('event', event))
            
        if event_prefix is not None:
            
            _query_params.append(('event_prefix', event_prefix))
            
        if limit is not None:
            
            _query_params.append(('limit', limit))
            
        if organization_id is not None:
            
            _query_params.append(('organization_id', organization_id))
            
        if q is not None:
            
            _query_params.append(('q', q))
            
        if sort is not None:
            
            _query_params.append(('sort', sort))
            
        if target_id is not None:
            
            _query_params.append(('target_id', target_id))
            
        if target_type is not None:
            
            _query_params.append(('target_type', target_type))
            
        if trail is not None:
            
            _query_params.append(('trail', trail))
            
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
            'ApiKeyAuth'
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/api/v0/events/',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


