/*
Santati

Santati's HTTP API. Operations under `/api/v0/` take a team API key in `Authorization: Api-Key <key>`; a missing, invalid or under-scoped key is answered with `403`, never `401`. Errors on `/api/v0/` use one of three bodies: `ErrorDetail` (`{\"detail\": ...}`), `FieldErrors` (messages keyed by request field) or `ErrorEnvelope` (`{\"error\": {\"code\", \"message\", \"field\"}}`, returned by event ingestion and log stream quota checks). Lists on `/api/v0/` are cursor-paginated: follow `next` until it is `null`.

API version: 0.3.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package core

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EventDefinitionsAPIService EventDefinitionsAPI service
type EventDefinitionsAPIService service

type ApiEventDefinitionsCreateRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	eventDefinitionWriteRequest *EventDefinitionWriteRequest
}

func (r ApiEventDefinitionsCreateRequest) EventDefinitionWriteRequest(eventDefinitionWriteRequest EventDefinitionWriteRequest) ApiEventDefinitionsCreateRequest {
	r.eventDefinitionWriteRequest = &eventDefinitionWriteRequest
	return r
}

func (r ApiEventDefinitionsCreateRequest) Execute() (*EventDefinition, *http.Response, error) {
	return r.ApiService.EventDefinitionsCreateExecute(r)
}

/*
EventDefinitionsCreate Define an action

Add an action to the catalog. Requires the ``manage`` scope on a key that is not limited to named trails. Defining the first action turns catalog enforcement on: events with any other action name are refused from then on. Add schemas with ``schema_versions_create``.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventDefinitionsCreateRequest
*/
func (a *EventDefinitionsAPIService) EventDefinitionsCreate(ctx context.Context) ApiEventDefinitionsCreateRequest {
	return ApiEventDefinitionsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EventDefinition
func (a *EventDefinitionsAPIService) EventDefinitionsCreateExecute(r ApiEventDefinitionsCreateRequest) (*EventDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EventDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.EventDefinitionsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.eventDefinitionWriteRequest == nil {
		return localVarReturnValue, nil, reportError("eventDefinitionWriteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.eventDefinitionWriteRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventDefinitionsDestroyRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
}

func (r ApiEventDefinitionsDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.EventDefinitionsDestroyExecute(r)
}

/*
EventDefinitionsDestroy Delete an event definition

Delete an action and all of its schema versions, published ones included. Requires the ``manage`` scope on a key that is not limited to named trails. Deleting the team's last definition turns catalog enforcement off, so any action name is accepted again. Expects no request body and answers 204 with none.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @return ApiEventDefinitionsDestroyRequest
*/
func (a *EventDefinitionsAPIService) EventDefinitionsDestroy(ctx context.Context, action string) ApiEventDefinitionsDestroyRequest {
	return ApiEventDefinitionsDestroyRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
	}
}

// Execute executes the request
func (a *EventDefinitionsAPIService) EventDefinitionsDestroyExecute(r ApiEventDefinitionsDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.EventDefinitionsDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEventDefinitionsListRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	cursor *string
	limit *int32
}

// Cursor from the previous page.
func (r ApiEventDefinitionsListRequest) Cursor(cursor string) ApiEventDefinitionsListRequest {
	r.cursor = &cursor
	return r
}

// Number of results to return per page.
func (r ApiEventDefinitionsListRequest) Limit(limit int32) ApiEventDefinitionsListRequest {
	r.limit = &limit
	return r
}

func (r ApiEventDefinitionsListRequest) Execute() (*PaginatedEventDefinitionList, *http.Response, error) {
	return r.ApiService.EventDefinitionsListExecute(r)
}

/*
EventDefinitionsList List event definitions

The actions this team's catalog defines, alphabetically. Needs a team API key with any scope. A team with no definitions accepts any action name, so an empty page is not an error: it means enforcement is off. Cursor-paginated: follow ``next`` until it is ``null``.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventDefinitionsListRequest
*/
func (a *EventDefinitionsAPIService) EventDefinitionsList(ctx context.Context) ApiEventDefinitionsListRequest {
	return ApiEventDefinitionsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedEventDefinitionList
func (a *EventDefinitionsAPIService) EventDefinitionsListExecute(r ApiEventDefinitionsListRequest) (*PaginatedEventDefinitionList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedEventDefinitionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.EventDefinitionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventDefinitionsRetrieveRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
}

func (r ApiEventDefinitionsRetrieveRequest) Execute() (*EventDefinition, *http.Response, error) {
	return r.ApiService.EventDefinitionsRetrieveExecute(r)
}

/*
EventDefinitionsRetrieve Retrieve an event definition

One action of this team's catalog. Needs a team API key with any scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @return ApiEventDefinitionsRetrieveRequest
*/
func (a *EventDefinitionsAPIService) EventDefinitionsRetrieve(ctx context.Context, action string) ApiEventDefinitionsRetrieveRequest {
	return ApiEventDefinitionsRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
	}
}

// Execute executes the request
//  @return EventDefinition
func (a *EventDefinitionsAPIService) EventDefinitionsRetrieveExecute(r ApiEventDefinitionsRetrieveRequest) (*EventDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EventDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.EventDefinitionsRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventDefinitionsUpdateRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	patchedEventDefinitionWriteRequest *PatchedEventDefinitionWriteRequest
}

func (r ApiEventDefinitionsUpdateRequest) PatchedEventDefinitionWriteRequest(patchedEventDefinitionWriteRequest PatchedEventDefinitionWriteRequest) ApiEventDefinitionsUpdateRequest {
	r.patchedEventDefinitionWriteRequest = &patchedEventDefinitionWriteRequest
	return r
}

func (r ApiEventDefinitionsUpdateRequest) Execute() (*EventDefinition, *http.Response, error) {
	return r.ApiService.EventDefinitionsUpdateExecute(r)
}

/*
EventDefinitionsUpdate Update or rename an event definition

Change any of an action's fields; omitted fields keep their value. Sending a new ``action`` renames it, and its schema versions go with it. Events already stored keep the name they were written with. Requires the ``manage`` scope on a key that is not limited to named trails.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @return ApiEventDefinitionsUpdateRequest
*/
func (a *EventDefinitionsAPIService) EventDefinitionsUpdate(ctx context.Context, action string) ApiEventDefinitionsUpdateRequest {
	return ApiEventDefinitionsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
	}
}

// Execute executes the request
//  @return EventDefinition
func (a *EventDefinitionsAPIService) EventDefinitionsUpdateExecute(r ApiEventDefinitionsUpdateRequest) (*EventDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EventDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.EventDefinitionsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedEventDefinitionWriteRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSchemaVersionsCheckRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	eventSchemaDocumentRequest *EventSchemaDocumentRequest
}

func (r ApiSchemaVersionsCheckRequest) EventSchemaDocumentRequest(eventSchemaDocumentRequest EventSchemaDocumentRequest) ApiSchemaVersionsCheckRequest {
	r.eventSchemaDocumentRequest = &eventSchemaDocumentRequest
	return r
}

func (r ApiSchemaVersionsCheckRequest) Execute() (*SchemaCheck, *http.Response, error) {
	return r.ApiService.SchemaVersionsCheckExecute(r)
}

/*
SchemaVersionsCheck Check a document against recent events

Dry-run a document against the action's newest 50 stored events and report which it would reject; nothing is stored. Stored values are checked after redaction. Needs a team API key with any scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @return ApiSchemaVersionsCheckRequest
*/
func (a *EventDefinitionsAPIService) SchemaVersionsCheck(ctx context.Context, action string) ApiSchemaVersionsCheckRequest {
	return ApiSchemaVersionsCheckRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
	}
}

// Execute executes the request
//  @return SchemaCheck
func (a *EventDefinitionsAPIService) SchemaVersionsCheckExecute(r ApiSchemaVersionsCheckRequest) (*SchemaCheck, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SchemaCheck
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.SchemaVersionsCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/schema-versions/check/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.eventSchemaDocumentRequest == nil {
		return localVarReturnValue, nil, reportError("eventSchemaDocumentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.eventSchemaDocumentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSchemaVersionsCreateRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	eventSchemaDocumentRequest *EventSchemaDocumentRequest
}

func (r ApiSchemaVersionsCreateRequest) EventSchemaDocumentRequest(eventSchemaDocumentRequest EventSchemaDocumentRequest) ApiSchemaVersionsCreateRequest {
	r.eventSchemaDocumentRequest = &eventSchemaDocumentRequest
	return r
}

func (r ApiSchemaVersionsCreateRequest) Execute() (*EventSchemaVersion, *http.Response, error) {
	return r.ApiService.SchemaVersionsCreateExecute(r)
}

/*
SchemaVersionsCreate Create a draft schema version

Store a document as a new draft at the next version number; numbers are never reused. A draft validates nothing until it is published. To change a published version, create a draft from its document with your edit applied. Requires the ``manage`` scope on a key that is not limited to named trails.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @return ApiSchemaVersionsCreateRequest
*/
func (a *EventDefinitionsAPIService) SchemaVersionsCreate(ctx context.Context, action string) ApiSchemaVersionsCreateRequest {
	return ApiSchemaVersionsCreateRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
	}
}

// Execute executes the request
//  @return EventSchemaVersion
func (a *EventDefinitionsAPIService) SchemaVersionsCreateExecute(r ApiSchemaVersionsCreateRequest) (*EventSchemaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EventSchemaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.SchemaVersionsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/schema-versions/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.eventSchemaDocumentRequest == nil {
		return localVarReturnValue, nil, reportError("eventSchemaDocumentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.eventSchemaDocumentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSchemaVersionsDeprecateRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	version int32
}

func (r ApiSchemaVersionsDeprecateRequest) Execute() (*EventSchemaVersion, *http.Response, error) {
	return r.ApiService.SchemaVersionsDeprecateExecute(r)
}

/*
SchemaVersionsDeprecate Deprecate a version

Start the migration window on a superseded version: producers pinned to it are accepted until its deadline, then refused. Only a published version can be deprecated, and not the one ingest selects when an event pins nothing: publish a newer one first. Deprecating a deprecated version changes nothing. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @param version The schema version number, e.g. 2.
 @return ApiSchemaVersionsDeprecateRequest
*/
func (a *EventDefinitionsAPIService) SchemaVersionsDeprecate(ctx context.Context, action string, version int32) ApiSchemaVersionsDeprecateRequest {
	return ApiSchemaVersionsDeprecateRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
		version: version,
	}
}

// Execute executes the request
//  @return EventSchemaVersion
func (a *EventDefinitionsAPIService) SchemaVersionsDeprecateExecute(r ApiSchemaVersionsDeprecateRequest) (*EventSchemaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EventSchemaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.SchemaVersionsDeprecate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/schema-versions/{version}/deprecate/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSchemaVersionsDestroyRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	version int32
}

func (r ApiSchemaVersionsDestroyRequest) Execute() (*http.Response, error) {
	return r.ApiService.SchemaVersionsDestroyExecute(r)
}

/*
SchemaVersionsDestroy Delete a draft

Delete a draft. Its version number is never reused. A published version cannot be deleted. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body and answers 204 with none.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @param version The schema version number, e.g. 2.
 @return ApiSchemaVersionsDestroyRequest
*/
func (a *EventDefinitionsAPIService) SchemaVersionsDestroy(ctx context.Context, action string, version int32) ApiSchemaVersionsDestroyRequest {
	return ApiSchemaVersionsDestroyRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
		version: version,
	}
}

// Execute executes the request
func (a *EventDefinitionsAPIService) SchemaVersionsDestroyExecute(r ApiSchemaVersionsDestroyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.SchemaVersionsDestroy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/schema-versions/{version}/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSchemaVersionsListRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	cursor *string
	limit *int32
}

// Cursor from the previous page.
func (r ApiSchemaVersionsListRequest) Cursor(cursor string) ApiSchemaVersionsListRequest {
	r.cursor = &cursor
	return r
}

// Number of results to return per page.
func (r ApiSchemaVersionsListRequest) Limit(limit int32) ApiSchemaVersionsListRequest {
	r.limit = &limit
	return r
}

func (r ApiSchemaVersionsListRequest) Execute() (*PaginatedEventSchemaVersionList, *http.Response, error) {
	return r.ApiService.SchemaVersionsListExecute(r)
}

/*
SchemaVersionsList List schema versions

Every version of one action's schema, newest first, drafts and deprecated versions included. Needs a team API key with any scope. Cursor-paginated: follow ``next`` until it is ``null``.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @return ApiSchemaVersionsListRequest
*/
func (a *EventDefinitionsAPIService) SchemaVersionsList(ctx context.Context, action string) ApiSchemaVersionsListRequest {
	return ApiSchemaVersionsListRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
	}
}

// Execute executes the request
//  @return PaginatedEventSchemaVersionList
func (a *EventDefinitionsAPIService) SchemaVersionsListExecute(r ApiSchemaVersionsListRequest) (*PaginatedEventSchemaVersionList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedEventSchemaVersionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.SchemaVersionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/schema-versions/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSchemaVersionsPublishRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	version int32
}

func (r ApiSchemaVersionsPublishRequest) Execute() (*EventSchemaVersion, *http.Response, error) {
	return r.ApiService.SchemaVersionsPublishExecute(r)
}

/*
SchemaVersionsPublish Publish a draft

Publish a draft: ingest validates against it from now on, and the version it supersedes starts its deprecation window. Publishing a published version changes nothing. Requires the ``manage`` scope on a key that is not limited to named trails. Expects no request body.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @param version The schema version number, e.g. 2.
 @return ApiSchemaVersionsPublishRequest
*/
func (a *EventDefinitionsAPIService) SchemaVersionsPublish(ctx context.Context, action string, version int32) ApiSchemaVersionsPublishRequest {
	return ApiSchemaVersionsPublishRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
		version: version,
	}
}

// Execute executes the request
//  @return EventSchemaVersion
func (a *EventDefinitionsAPIService) SchemaVersionsPublishExecute(r ApiSchemaVersionsPublishRequest) (*EventSchemaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EventSchemaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.SchemaVersionsPublish")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/schema-versions/{version}/publish/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSchemaVersionsRetrieveRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	version int32
}

func (r ApiSchemaVersionsRetrieveRequest) Execute() (*EventSchemaVersion, *http.Response, error) {
	return r.ApiService.SchemaVersionsRetrieveExecute(r)
}

/*
SchemaVersionsRetrieve Retrieve a schema version

One version of an action's schema, with its status and an `ETag`. Needs any team API key.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @param version The schema version number, e.g. 2.
 @return ApiSchemaVersionsRetrieveRequest
*/
func (a *EventDefinitionsAPIService) SchemaVersionsRetrieve(ctx context.Context, action string, version int32) ApiSchemaVersionsRetrieveRequest {
	return ApiSchemaVersionsRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
		version: version,
	}
}

// Execute executes the request
//  @return EventSchemaVersion
func (a *EventDefinitionsAPIService) SchemaVersionsRetrieveExecute(r ApiSchemaVersionsRetrieveRequest) (*EventSchemaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EventSchemaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.SchemaVersionsRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/schema-versions/{version}/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSchemaVersionsUpdateRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	action string
	version int32
	eventSchemaDocumentRequest *EventSchemaDocumentRequest
	ifMatch *string
}

func (r ApiSchemaVersionsUpdateRequest) EventSchemaDocumentRequest(eventSchemaDocumentRequest EventSchemaDocumentRequest) ApiSchemaVersionsUpdateRequest {
	r.eventSchemaDocumentRequest = &eventSchemaDocumentRequest
	return r
}

// The &#x60;ETag&#x60; from your last read of this draft. If the draft has changed since, the update answers &#x60;412&#x60; instead of overwriting it. Without the header the last write wins.
func (r ApiSchemaVersionsUpdateRequest) IfMatch(ifMatch string) ApiSchemaVersionsUpdateRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiSchemaVersionsUpdateRequest) Execute() (*EventSchemaVersion, *http.Response, error) {
	return r.ApiService.SchemaVersionsUpdateExecute(r)
}

/*
SchemaVersionsUpdate Replace a draft's document

Replace the whole document of a draft in place; the version number does not change. This is how fields are added, renamed and removed: read the draft, edit its `properties` and `required`, and send the document back. Send the `ETag` you read as `If-Match` so a concurrent edit is not overwritten. A published version cannot be changed. Requires the ``manage`` scope on a key that is not limited to named trails.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param action The action name, e.g. invoice.voided.
 @param version The schema version number, e.g. 2.
 @return ApiSchemaVersionsUpdateRequest
*/
func (a *EventDefinitionsAPIService) SchemaVersionsUpdate(ctx context.Context, action string, version int32) ApiSchemaVersionsUpdateRequest {
	return ApiSchemaVersionsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		action: action,
		version: version,
	}
}

// Execute executes the request
//  @return EventSchemaVersion
func (a *EventDefinitionsAPIService) SchemaVersionsUpdateExecute(r ApiSchemaVersionsUpdateRequest) (*EventSchemaVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EventSchemaVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.SchemaVersionsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/event-definitions/{action}/schema-versions/{version}/"
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.eventSchemaDocumentRequest == nil {
		return localVarReturnValue, nil, reportError("eventSchemaDocumentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	// body params
	localVarPostBody = r.eventSchemaDocumentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStandardEventsInstallRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
	standardPackInstallRequest *StandardPackInstallRequest
}

func (r ApiStandardEventsInstallRequest) StandardPackInstallRequest(standardPackInstallRequest StandardPackInstallRequest) ApiStandardEventsInstallRequest {
	r.standardPackInstallRequest = &standardPackInstallRequest
	return r
}

func (r ApiStandardEventsInstallRequest) Execute() (*StandardPackInstallResult, *http.Response, error) {
	return r.ApiService.StandardEventsInstallExecute(r)
}

/*
StandardEventsInstall Install standard packs

Define every action of the chosen packs for the team, each with its recommended target types and a published v1 schema. An action the team already defines, active or retired, is skipped and left untouched, so installing twice is safe. Installed schemas are the team's own copies: editing one needs no special step. Requires the ``manage`` scope on a key that is not limited to named trails.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiStandardEventsInstallRequest
*/
func (a *EventDefinitionsAPIService) StandardEventsInstall(ctx context.Context) ApiStandardEventsInstallRequest {
	return ApiStandardEventsInstallRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return StandardPackInstallResult
func (a *EventDefinitionsAPIService) StandardEventsInstallExecute(r ApiStandardEventsInstallRequest) (*StandardPackInstallResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StandardPackInstallResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.StandardEventsInstall")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/standard-events/install/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.standardPackInstallRequest == nil {
		return localVarReturnValue, nil, reportError("standardPackInstallRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.standardPackInstallRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStandardEventsListRequest struct {
	ctx context.Context
	ApiService *EventDefinitionsAPIService
}

func (r ApiStandardEventsListRequest) Execute() (*StandardEventCatalog, *http.Response, error) {
	return r.ApiService.StandardEventsListExecute(r)
}

/*
StandardEventsList List the standard event catalog

Santati's recommended actions, grouped into packs. The catalog is the same for every team and any key scope reads it; install packs with `standard_events_install`. `schema` is the v1 document installed for each action: installing copies it into the team's catalog, and the copy is the team's own to edit like any custom schema. `ocsf` maps each action to an OCSF class and activity. Not paginated.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiStandardEventsListRequest
*/
func (a *EventDefinitionsAPIService) StandardEventsList(ctx context.Context) ApiStandardEventsListRequest {
	return ApiStandardEventsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return StandardEventCatalog
func (a *EventDefinitionsAPIService) StandardEventsListExecute(r ApiStandardEventsListRequest) (*StandardEventCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StandardEventCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventDefinitionsAPIService.StandardEventsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/standard-events/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
