/*
Santati

Santati's HTTP API. Operations under `/api/v0/` take a team API key in `Authorization: Api-Key <key>`; a missing, invalid or under-scoped key is answered with `403`, never `401`. Errors on `/api/v0/` use one of three bodies: `ErrorDetail` (`{\"detail\": ...}`), `FieldErrors` (messages keyed by request field) or `ErrorEnvelope` (`{\"error\": {\"code\", \"message\", \"field\"}}`, returned by event ingestion and log stream quota checks). Lists on `/api/v0/` are cursor-paginated: follow `next` until it is `null`.

API version: 0.2.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package core

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AuditEventsAPIService AuditEventsAPI service
type AuditEventsAPIService service

type ApiEventsCreateRequest struct {
	ctx context.Context
	ApiService *AuditEventsAPIService
	eventIngestRequest *EventIngestRequest
	idempotencyKey *string
}

func (r ApiEventsCreateRequest) EventIngestRequest(eventIngestRequest EventIngestRequest) ApiEventsCreateRequest {
	r.eventIngestRequest = &eventIngestRequest
	return r
}

// Replay guard for a single-event request. Sending the same key again on the same trail within 24 hours returns the event already stored (&#x60;200&#x60;) instead of indexing a second one. A longer key than 255 characters is a &#x60;400 invalid_envelope&#x60;. An event&#39;s own &#x60;idempotency_key&#x60; beats this header for that event. Do not send it with a multi-event batch: it becomes the key of every event that has none of its own, and keys are scoped to the team and trail, so each later such event on the same trail is reported &#x60;duplicate&#x60; with the first event&#39;s id and is not written.
func (r ApiEventsCreateRequest) IdempotencyKey(idempotencyKey string) ApiEventsCreateRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiEventsCreateRequest) Execute() (*AuditEvent, *http.Response, error) {
	return r.ApiService.EventsCreateExecute(r)
}

/*
EventsCreate Send audit events

Index one event, or a batch, from the producer envelope. Requires a team API key with the ``write`` (or ``manage``) scope. Send either one envelope object or ``{"events": [...]}``; a batch answers 207 with per-item results and 202 when every item was accepted. A repeated ``Idempotency-Key`` (or envelope ``idempotency_key``) within 24 hours returns the event already stored instead of indexing a second one.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventsCreateRequest
*/
func (a *AuditEventsAPIService) EventsCreate(ctx context.Context) ApiEventsCreateRequest {
	return ApiEventsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AuditEvent
func (a *AuditEventsAPIService) EventsCreateExecute(r ApiEventsCreateRequest) (*AuditEvent, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AuditEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditEventsAPIService.EventsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/events/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.eventIngestRequest == nil {
		return localVarReturnValue, nil, reportError("eventIngestRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.eventIngestRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventsListRequest struct {
	ctx context.Context
	ApiService *AuditEventsAPIService
	actorId *string
	actorType *string
	createdAfter *string
	createdBefore *string
	cursor *string
	event *string
	eventPrefix *string
	limit *int32
	organizationId *string
	q *string
	sort *string
	targetId *string
	targetType *string
	trail *string
}

// Exact context.actor.id.
func (r ApiEventsListRequest) ActorId(actorId string) ApiEventsListRequest {
	r.actorId = &actorId
	return r
}

// One of: user, system, anonymous.
func (r ApiEventsListRequest) ActorType(actorType string) ApiEventsListRequest {
	r.actorType = &actorType
	return r
}

// RFC 3339 instant or date, inclusive, on the producer&#39;s timestamp.
func (r ApiEventsListRequest) CreatedAfter(createdAfter string) ApiEventsListRequest {
	r.createdAfter = &createdAfter
	return r
}

// Same parsing, inclusive.
func (r ApiEventsListRequest) CreatedBefore(createdBefore string) ApiEventsListRequest {
	r.createdBefore = &createdBefore
	return r
}

// Opaque cursor from the previous page.
func (r ApiEventsListRequest) Cursor(cursor string) ApiEventsListRequest {
	r.cursor = &cursor
	return r
}

// Exact event type, e.g. invoice.voided.
func (r ApiEventsListRequest) Event(event string) ApiEventsListRequest {
	r.event = &event
	return r
}

// Events whose type starts with this literal prefix.
func (r ApiEventsListRequest) EventPrefix(eventPrefix string) ApiEventsListRequest {
	r.eventPrefix = &eventPrefix
	return r
}

// Page size, up to 1000.
func (r ApiEventsListRequest) Limit(limit int32) ApiEventsListRequest {
	r.limit = &limit
	return r
}

// Producer&#39;s own organization id.
func (r ApiEventsListRequest) OrganizationId(organizationId string) ApiEventsListRequest {
	r.organizationId = &organizationId
	return r
}

// Full-text search over payload and metadata: at least one letter or digit, at most 200 characters, terms are ANDed prefixes. Relevance paging stops at the first 10000 matches.
func (r ApiEventsListRequest) Q(q string) ApiEventsListRequest {
	r.q = &q
	return r
}

// occurred_at (default) or relevance; relevance requires q.
func (r ApiEventsListRequest) Sort(sort string) ApiEventsListRequest {
	r.sort = &sort
	return r
}

// Events acting on this target id.
func (r ApiEventsListRequest) TargetId(targetId string) ApiEventsListRequest {
	r.targetId = &targetId
	return r
}

// Events acting on a target of this type.
func (r ApiEventsListRequest) TargetType(targetType string) ApiEventsListRequest {
	r.targetType = &targetType
	return r
}

// Only events from this audit log trail.
func (r ApiEventsListRequest) Trail(trail string) ApiEventsListRequest {
	r.trail = &trail
	return r
}

func (r ApiEventsListRequest) Execute() (*PaginatedAuditEventList, *http.Response, error) {
	return r.ApiService.EventsListExecute(r)
}

/*
EventsList List audit events

Audit events received on this tenant's audit log trails, newest first. The list is cursor-paginated: follow ``next`` until it is ``null``. ``sort=relevance`` requires ``q`` and pages at most the first 10000 matches.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventsListRequest
*/
func (a *AuditEventsAPIService) EventsList(ctx context.Context) ApiEventsListRequest {
	return ApiEventsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedAuditEventList
func (a *AuditEventsAPIService) EventsListExecute(r ApiEventsListRequest) (*PaginatedAuditEventList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedAuditEventList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditEventsAPIService.EventsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/events/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.actorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor_id", r.actorId, "form", "")
	}
	if r.actorType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor_type", r.actorType, "form", "")
	}
	if r.createdAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_after", r.createdAfter, "form", "")
	}
	if r.createdBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_before", r.createdBefore, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.event != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	}
	if r.eventPrefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_prefix", r.eventPrefix, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.organizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "organization_id", r.organizationId, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.targetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_id", r.targetId, "form", "")
	}
	if r.targetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_type", r.targetType, "form", "")
	}
	if r.trail != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trail", r.trail, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
